{{ data['viewuser'] }}

<blockquote class="blockquote bq-info mb-4">
    <h1 id="infosolicitudes" class="bq-title">Mis <span class="sub-titulo" >Solicitudes!!!</span></h1>

</blockquote>

<div class="table-responsive">
    <!--Table-->

    {% if data['viewdata']|length > 0 %}
        <table class="table table-hover table-striped">

            <!--Table head-->
            <thead>
            <tr>
                <th>#</th>
                <th>Premio</th>
                <th>Puntos</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody>

            {% for index, solicitud in data['viewdata'] %}
                <tr>
                    <th scope="row"><i class="fas fa-info mx-1"></i></th>
                    <td>{{ solicitud.premio }}</td>
                    <td><span  style="padding: 5%;font-size: 15px" class="badge badge-success">{{ solicitud.puntos }}</span></td>
                    <td><span class="trigger teal lighten-4">{{ solicitud.fecha }}</span></td>
                    <td><span class="badge badge-info">{{ solicitud.estado }}</span></td>

                </tr>
            {% endfor %}


            </tbody>
            <!--Table body-->
        </table>
        <!--Table-->
    {% else %}
        <h2>No hay informaci&oacute;n que mostrar</h2>
    {% endif %}

</div>

{{ attach_library('admin_tests/admin_tests') }}