<!-- Card Dark -->

<!-- Card -->
<div class="card">
    {#{{ dump(data) }}#}
    <!-- Content -->
    <div class="card-body">

        <!-- Offer -->
        <h5 class="mb-4">{{ title }}</h5>
        <div class="d-flex justify-content-center">
            <div class="card-circle d-flex justify-content-center align-items-center">
                <img src="{{ imagen }}" width="80%" />
            </div>
        </div>

        <!-- Price -->
        <h2 class="font-weight-bold my-4 text-center">{{ points }} Pts</h2>
        <p class="grey-text">{{ description | raw }}</p>

        <div class="text-center">
            {% if premium_valid != false %}
                <!-- Link -->
                <a id="buyPremium" class="white-text btn btn-success" data-id="{{ id }}">
                    <h5>Solicitar <i class="fas fa-angle-double-right"></i></h5>
                </a>
            {% endif %}
        </div>
    </div>
    <!-- Content -->

</div>

{{ attach_library('admin_tests/admin_tests') }}