<form>
    <div id="wizard" style="display: none">
        <!-- SECTION 1 -->
        <input type="hidden" name="testId" value="{{ datos.id }}">

        {% for index, question in datos.questions %}

             <h4></h4>
             <section>
         <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 mb-4">

                        <!-- Card -->
                        <div class="card gradient-card">

                            <div class="card-image">

                                <!-- Content -->
                                <div class="text-white d-flex h-100 mask blue-gradient-rgba">
                                    <div class="first-content text-center p-3" style="width: 100%">
                                        <h3 class="card-title">{{ question.name }}</h3>
                                    </div>
                                </div>


                            </div>
                            <!-- Content -->
                            <div class="card-body white">
                                <!-- Default unchecked -->

                                {% for indexA, answer in question.answers %}

                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" data-question="{{ question.id }}" value="{{ answer.id }}" id="default{{ question.id }}{{ answer.id }}" name="questionsRadios{{ question.id }}">
                                        <label class="custom-control-label" for="default{{ question.id }}{{ answer.id }}">{{ answer.name }}</label>
                                    </div>

                                {% endfor %}

                                {#<!-- Default checked -->#}
                                {#<div class="custom-control custom-radio">#}
                                    {#<input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios{{ index }}">#}
                                    {#<label class="custom-control-label" for="defaultChecked">Default checked</label>#}
                                {#</div>#}


                            </div>

                        </div>
                        <!-- Card -->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>

        {% endfor %}


    </div>
</form>
{{ attach_library('admin_tests/admin_tests') }}