
<div class="row">
    <div class="col-lg-9 col-md-9 col-xs-12">
            <!-- Section: Block Content -->
            <section class="dark-grey-text text-center">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-12 mb-4">

                        <!-- Card -->
                        <div class="card card-image" style="background-image: url({{ imagen }});background-position: center;background-size: cover;">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-4 px-md-5 rounded">
                                <div>
                                    <h1>
                                        {#<i class="fas fa-plane pink-text"></i>#}
                                        <span class="emoji">😃</span>
                                        {#<strong> {{ subtitlecategoria | capitalize }}</strong>#}
                                        <strong> {{ label }}</strong>
                                    </h1>
                                    <h2 class="py-3" style="font-size: 1.6rem;line-height:1.5">
                                        {{ description | raw  }}
                                    </h2>
                                    {#<div class="pb-3">{{ description | raw  }}</div>#}
                                </div>
                            </div>
                        </div>
                        <!-- Card -->

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </section>
            <!-- Section: Block Content -->


        <form class="test-rango-form" enctype="multipart/form-data" action="{{ urlResponseTestRango }}" method="post" id="form-test-rango" accept-charset="UTF-8">

            <input type="hidden" name="idTest" value="{{ datos.id }}">

            <div class="row container-preguntas">
          {% for index, question in datos.questions %}

              <div class=" lighten-1 text-black col-lg-12 col-md-12 col-xs-12 mb-2">

                  <h3 class="font-weight-normal py-2"><a class="text-black-50" href="#">{{ question.name }}</a></h3>
                  <div class="card-preguntas-test-rango">
                      {% for indexA, answer in question.answers %}

                          <div class="custom-control custom-radio container-tests-respuestas">
                              <input type="radio" class="custom-control-input" data-question="{{ question.id }}" value="{{ answer.id }}" id="default{{ question.id }}{{ answer.id }}" name="question-{{ question.id }}">
                              <label class="custom-control-label" for="default{{ question.id }}{{ answer.id }}">{{ answer.name }}</label>
                          </div>

                      {% endfor %}
                  </div>
              </div>
              <hr class="clearfix w-100">

          {% endfor %}
            </div>
            <div class="col-md-12 col-xs-12 text-center">
                <button  id="enviartestrango" type="submit" class="btn btn-success waves-effect waves-light btn-load-enviar">
                    Finalizar
                </button>
                <input type="hidden" name="testId" value="{{ datos.id }}">
            </div>

          </form>

    </div>
    <div id="block-newsblock" class="col-lg-3 col-md-3 col-xs-12">
        {{ newsRender }}
    </div>

</div>
{{ attach_library('admin_tests/admin_tests') }}