
<div class="row">
    <div class="col-lg-9 col-md-9 col-xs-12">

        <section class="dark-grey-text text-center">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-12 mb-4">

                    <!-- Card -->
                    <div class="card card-image" style="background-image: url({{ imagen }});background-position: center;background-size: cover;">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-2 px-4 px-md-5 rounded">
                            <div>
                                <h1>
                                    {#<i class="fas fa-plane pink-text"></i>#}
                                    {#<strong> {{ subtitlecategoria | capitalize }}</strong>#}
                                    <span class="emoji">😃</span>
                                    <strong> {{ label }}</strong>
                                </h1>
                                <h2 class="py-3" style="font-size: 1.6rem;line-height:1.5">
                                    {{ description | raw  }}
                                </h2>

                            </div>
                        </div>
                    </div>
                    <!-- Card -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>



        <form>
            <div id="wizard" style="display: none">
                <!-- SECTION 1 -->

                <div class="container-cant-preguntas">

                    <nav aria-label="Page navigation example">
                        <ul class="pagination pagination-circle pg-blue">

                            {% for index, question in datos.questions %}
                                {% if index == 0 %}
                                    <li class="page-item active" data-value="{{ index }}"><a class="page-link">{{ index + 1}}</a></li>
                                {% else %}
                                    <li class="page-item" data-value="{{ index }}"><a class="page-link">{{ index + 1}}</a></li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </nav>

                </div>

                <input type="hidden" name="testId" value="{{ datos.id }}">

                {% for index, question in datos.questions %}

                    <h4></h4>
                    <section>

                        <div class="row container-preguntas" style="width: 100%">

                            <div class="col-md-12 mb-4">

                                <div class="card gradient-card">

                                    <div class="card-image">

                                        <div class="text-white d-flex h-100 mask btn-mdb-color">
                                            <div class="first-content text-center p-3" style="width: 100%">
                                                <h3 class="card-title">{{ question.name }}</h3>
                                            </div>
                                        </div>


                                    </div>
                                    <!-- Content -->
                                    <div class="card-body white">

                                        {% for indexA, answer in question.answers %}

                                            <div class="custom-control custom-radio container-tests-respuestas">
                                                <input type="radio" class="custom-control-input" data-question="{{ question.id }}" value="{{ answer.id }}" id="default{{ question.id }}{{ answer.id }}" name="questionsRadios{{ question.id }}">
                                                <label class="custom-control-label" for="default{{ question.id }}{{ answer.id }}">{{ answer.name }}</label>
                                            </div>

                                        {% endfor %}

                                    </div>

                                </div>

                            </div>

                        </div>

                    </section>

                {% endfor %}

            </div>
        </form>
    </div>
    <div id="block-newsblock" class="col-lg-3 col-md-3 col-xs-12">
        {{ newsRender }}
    </div>

</div>
