{#
/**
 * @file test_entity.html.twig
 * Default theme implementation to present Test entity data.
 *
 * This template is used when viewing Test entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_test_entity()
 *
 * @ingroup themeable
 */
#}
<div class="col-md-6 col-xl-3 mb-4">
        <!-- Card -->
        <div class="card">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="{{ imagen }}"
                     alt="Card image cap">
                {#<a href="{{ url }}">#}
                    <div class="mask rgba-white-slight">
                        <div class="col-md-12 container-info-like" >
                            <i class="far fa-grin icon-info-like"></i> {{ likes }}
                            <i class="far fa-frown icon-info-nolike"></i> {{ nolikes }}
                        </div>
                    </div>
                {#</a>#}
            </div>

            <!--Card content-->
            <div class="card-body">

                {#<div class="row">#}

                    {#<div class="col-lg-12 col-md-12 col-xs-12 container-info-like" >#}
                        {#<i class="far fa-grin icon-info-like"></i> {{ likes }}#}
                        {#<i class="far fa-frown icon-info-nolike"></i> {{ nolikes }}#}
                    {#</div>#}

                {#</div>#}

                <div class="row">

                    <div class="col-lg-12 col-md-12 col-xs-12 text-align-right container-info-extra" >
                        <i class="fab fa-creative-commons-nd icon-puntos"></i> {{ puntos }} pts
                        <i class="far fa-clock icon-reloj"></i> {{ time }} min
                    </div>
                </div>

                <h2 class="card-title title-test-teaser"> {{primera_pregunta.titulo.name }}</h2>

                <a href="{{ url }}">

                    <div class="card-text question-test-teaser">
                        {% for index, resp in primera_pregunta.respuestas %}

                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" disabled="disabled" id="default" name="questionsRadios1">
                            <label class="custom-control-label" for="default11">{{ resp.name }}</label>
                        </div>

                        {% endfor %}
                    </div>

                </a>

                <div class="text-align-center">
                     <a href="{{ url }}" type="button" class="btn btn-light-blue btn-md">Accede</a>
                </div>

            </div>

        </div>
        <!-- Card -->
</div>

